body {
  background-color: #f9fafb;
}

form {
  width: 300px;
  margin: auto;
  margin-top: 100px;
  font-size: larger;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 1px 5px 10px 0 rgb(0, 0, 0);
}
#framework,
label {
  width: 250px;
  margin: 5px 20px;
  padding: 10px;
}

.btn {
  margin: 5px 20px;
  width: 250px;
  background-color: #277af5;
  border: 1px solid;
  color: white;
  padding: 10px;
}

#framework-multiple {
  width: 250px;
  margin: 5px 20px;
  padding: 10px;
}
